<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/main.css"
	</head>
<body>
	<a href="/mainon"><input type="button" value="Main On" style="font size: 50 width:80% height:80%"><a/>
	<a href="/mainoff"><input type="button" value="Main Off" style="font size: 50 width:80% height:80%"><a/>
	<a href="/secon"><input type="button" value="Secondary On" style="font size: 50 width:80% height:80%"><a/>
	<a href="/secoff"><input type="button" value="Secondary Off" style="font size: 50 width:80% height:80%"><a/>


</body>
</html>
